:root {
  --primary: #292929;
  --grey: #5a5a5a;
  --green: #61c284;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-size: 15px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  overscroll-behavior-y: none;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 140px;
}

section, main {
  margin-bottom: 4rem;
}

.sectionHeader {
  margin-bottom: 3rem;
}

@media (max-width: 1300px) {
  .page {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 800px) {
  .page {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  .page {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.home {
  padding: 0 140px 0 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 480px) {
  .home {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 1000px) {
  .home {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 800px) {
  .home {
    padding-left: 60px;
    padding-right: 60px;
  }
}

header.onlyNav {
  justify-content: flex-end;
}

.hashed {
  background-image: url("./assets/pixel.png");
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  margin: 0.8rem 0;
}

h2 {
  font-weight: 500;
  font-size: 3.5rem;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 4px 0;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey);
  margin: 4px 0;
  line-height: 20px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 4px 0;
  font-weight: 400;
}

#lerpPointer {
  position: fixed;
  z-index: 1000;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  background: transparent;
  mix-blend-mode: difference;
  border: 1px solid var(--primary);

  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  /* transform-origin: -100% -100%; */
}

#lerpPointer > span {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--primary);

}

#lerpPointer.onElement {
  background: var(--primary);
}

#lerpPointer.onElement > span {
  display: none;
}

* {
  cursor: none;
}

.cursor {
  z-index: 1000;
  pointer-events: none;
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

.bubble {
  pointer-events: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  padding: 1.2rem;
  border-radius: 50%;

  background: transparent;
  border: 1px solid var(--primary);
  mix-blend-mode: difference;
  
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  transition-property: transform;
}

.bubble.onLink {
  background: var(--primary);
}

a > span {
  display: inline-block;
  pointer-events: none;
  transition: transform 0.1s ease;
  mix-blend-mode: difference;
}

a:hover > span {
  color: white;
  transform : translate(0, 20%);
  /* transition: transform 0.2s ease */
}

.bubble.onLink ~ .cursor {
  background: white;
}

.giantBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

/* .titleWork {
  transform: translateX(15px);
  opacity: 0;
  transition: all 0.6s ease-out;
  transition-property: transform opacity;
}

.scroll-titleWork {
  transform: translateX(0);
  opacity: 1;
}

.descWork {
  opacity: 0;
  transition: all 1.5s ease-out;
  transition-property: opacity;
}

.scroll-descWork {
  opacity: 1;
} */
